{% extends 'django_app/layout.html' %}
{% load static %}

{% block title %}Галактики{% endblock %}

{% block content %}
    <div>
     <h2>Введение</h2>
 <p>Галактики - это огромные скопления звезд, газа, пыли и темной материи, объединенные гравитационными силами. Вселенная содержит миллиарды галактик, каждая из которых имеет свою уникальную структуру и историю.</p>
 </div>        <br>
    <div>
        <h2>Устройство галактик</h2>
 <p>Внутри галактик находятся звезды, газ и пыль, которые вращаются вокруг центра галактики. Центр галактики обычно занимает сверхмассивное черное дыра, которая воздействует на движение звезд и других объектов внутри галактики. Галактики могут быть плоскими или сферическими, и их форма зависит от их истории и окружающей среды.</p>
 </div>        <br>
        <div>
    <h2>Типы галактик</h2>
 <p>Существует несколько типов галактик, каждый из которых имеет свои особенности и характеристики:</p>
 <img src="{% static 'django_app/img/galaxies/spiral.jpg' %}" alt="Спиральная галактика">        <br>        <br>
 <p><strong>Спиральные галактики</strong> имеют форму плоского диска с вытянутым ядром и спиральными рукавами, проходящими через диск. Они содержат большое количество газа и пыли, который используется для создания новых звезд. Молодые звезды скоплены в ярких областях, называемых звездными скоплениями.</p>
 <img src="{% static 'django_app/img/galaxies/elips.jpg' %}" alt="Эллиптическая галактика">        <br>        <br>
 <p><strong>Эллиптические галактики</strong> имеют форму эллипсоида и обычно не содержат газа и пыли, что означает, что они не создают новых звезд. Вместо этого они содержат старые звезды, которые могут быть расположены случайным образом или иметь овальную структуру.</p>
 <img src="{% static 'django_app/img/galaxies/irregular.jpg' %}" alt="Неправильная галактика">        <br>        <br>
 <p><strong>Неправильные галактики</strong> не имеют определенной формы и могут содержать большое количество газа и пыли. Они часто образуются в результате столкновений и слияний других галактик.</p>
    </div>        <br>
    <div>
     <h2>Организация галактик в космосе</h2>
 <p>Галактики обычно организованы в группы и скопления. Группы галактик содержат несколько галактик, которые взаимодействуют друг с другом гравитационно. Скопления галактик содержат множество галактик, которые могут взаимодействовать между собой, что ведет к столкновениям и слияниям галактик.</p>
    </div>        <br>
    <div>
        <h2>Столкновение галактик</h2>
 <p>Столкновения галактик могут привести к созданию новых звезд и изменению структуры галактик. В результате столкновений могут образовываться галактики с необычной формой, а также могут возникать гравитационно связанные системы двух или более галактик.</p>
</div>
{% endblock %}