{% extends 'django_app/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="home">
    <h2>Наш сайт посвящен информации о космосе и астрономии.</h2><br>
        <h3>Здесь вы можете:</h3>
    <ol>
      <li>Узнать о:
        <ul>
          <li>Солнечной системе</li>
          <li>Галактиках</li>
          <li>Последних новостях астрономии</li>
          <li>Предстоящих космических миссиях</li>
        </ul>
      </li>
      <li>Опубликовать:
        <ul>
          <li>Отзыв о сайте</li>
          <li>Новость об астрономии или космосе</li>
        </ul>
      </li>
      <li>Приобрести телескоп</li>
    </ol>
    </div><br>
    <div>
    <p>Астрономия – это наука, которая изучает внешний мир, включая звезды, планеты, галактики и другие объекты в космосе. Эта наука помогает нам понимать, как устроен наш мир, откуда мы пришли и куда мы можем пойти в будущем.
        <br><br>
Космос – это огромное пространство, в котором находятся планеты, звезды, галактики и другие объекты. Изучение космоса помогает нам понимать, как возникли и эволюционировали звезды и планеты, как они взаимодействуют друг с другом, и какие процессы происходят на их поверхности и внутри них. <br><br>
Астрономия и изучение космоса важны, потому что они помогают нам расширить наши знания о мире, в котором мы живем. Они помогают нам понимать, как устроен наш мир и как он связан с другими объектами в космосе. Кроме того, изучение космоса имеет практическое значение – это помогает нам развивать новые технологии и решать проблемы, связанные с нашим окружающим миром.<br><br>
Изучение космоса также интересно, потому что оно позволяет нам узнавать о новых и удивительных явлениях во Вселенной. Мы можем узнать о том, как возникают черные дыры и гравитационные волны, как формируются галактики и какие могут быть жизненные формы на других планетах.<br><br>
В целом, астрономия и изучение космоса – это увлекательное путешествие в неизвестность, которое позволяет нам увидеть мир в новом свете и расширить наши знания о нашей Вселенной.</p>
    </div>
{% endblock %}