{% extends 'django_app/layout.html' %}

{% block title %}Космические миссии{% endblock %}

{% block content %}
    <div>
    <p>Космические миссии - это специальные проекты, которые проводятся с целью исследования космоса. Такие миссии могут включать в себя запуск спутников, экспедиции на другие планеты, изучение астероидов и многое другое. Космические миссии проводятся многими странами, включая США, Европу, Россию, Китай и другие.</p>
    </div><br>
    <div>
        <h2>Агенства, занимающиеся космическими миссиями</h2>
<p>Самыми крупными агенствами, занимающимися космическими миссиями, являются:</p>
<ul>
<li><a href="https://www.nasa.gov/">NASA</a></li>
<li><a href="https://www.esa.int/">ЕСА</a></li>
<li><a href="https://www.roscosmos.ru/">РОСКОСМОС</a></li>
<li>Китайская национальная космическая администрация (CNSA)</li>
</ul>
<p>Каждое из этих агентств проводит свои космические миссии, которые направлены на различные цели. НАСА, например, занимается исследованием Марса и Луны, а ЕСА - изучением Меркурия и Венеры.</p>
</div><br>
    <div>
        <h2>Примеры космических миссий</h2>
<p>Среди наиболее известных космических миссий можно выделить:</p>
<ul>
<li><a href="https://www.nasa.gov/mission_pages/cassini/main/index.html">Миссия Кассини</a> - миссия НАСА, проведенная совместно с ЕСА и Итальянским космическим агентством, в рамках которой был исследован Сатурн и его спутники.</li>
<li><a href="https://www.nasa.gov/mission_pages/hubble/main/index.html">Миссия Хаббл</a> - миссия НАСА, которая стала первым космическим телескопом и позволила сделать множество открытий в области астрономии.</li>
<li><a href="https://www.esa.int/Science_Exploration/Space_Science/BepiColombo_overview">Миссия БепиКоломбо</a> - миссия ЕСА, направленная на изучение Меркурия.</li>
<li><a href="https://www.roscosmos.ru/27559/">Миссия «ЭкзоМарс-2022»</a> - миссия РОСКОСМОСА, которая предполагает отправку ровера на Марс для поиска следов жизни.</li>
</ul>
        </div><br>
    <div>
<h2>Заключение</h2>
<p>Космические миссии являются важным направлением исследований человечества. Они позволяют расширять наши знания об окружающей нас Вселенной и делают возможным дальнейшее развитие науки и технологий.</p>
</div>
{% endblock %}