{% extends 'django_app/layout.html' %}
{% load static %}

{% block title %}Солнечная система{% endblock %}

{% block content %}
    <div><h2>История возникновения Солнечной системы</h2><br>
  <p>Солнечная система была образована около 4,6 миллиардов лет назад из газа и пыли, который остался после взрыва сверхновой звезды. Этот газ и пыль начал сжиматься под воздействием собственной гравитации, образуя протосолнце в центре. Вокруг протосолнца начали вращаться облака газа и пыли, которые со временем слились вместе, образуя планеты, астероиды, кометы и другие тела Солнечной системы.</p>
        </div><br>
    <div>
        <h2>Принципы устройства Солнечной системы</h2>
  <p>Солнечная система состоит из Солнца и всех тел, которые вращаются вокруг него под воздействием гравитационной силы. Солнце находится в центре Солнечной системы и является ее главным источником энергии. Планеты движутся по эллиптическим орбитам вокруг Солнца, при этом более близкие к Солнцу планеты вращаются быстрее, чем дальние. В Солнечной системе также есть множество мелких тел, таких как астероиды и кометы, которые движутся по разным орбитам и могут пересекаться с орбитами планет.</p>
    </div><br>
    <div>
        <h2>Планеты Солнечной системы</h2>
  <p>Солнечная система состоит из 8 планет, которые вращаются вокруг Солнца. Планеты можно разделить на две группы: внутренние планеты (Меркурий, Венера, Земля и Марс) и внешние планеты (Юпитер, Сатурн, Уран и Нептун).</p>
        <br>
<table>
  <tr>
    <th>Планета</th>
    <th>Открытие</th>
    <th>Фотография</th>
  </tr>
  <tr>
    <td>Меркурий</td>
    <td>Древними астрономами</td>
    <td><a href="#"><img src="{% static 'django_app/img/solar_system/mercury.jpg' %}" alt="Меркурий"></a></td>
  </tr>
  <tr>
    <td>Венера</td>
    <td>Древними астрономами</td>
    <td><a href="#"><img src="{% static 'django_app/img/solar_system/venus.jpg' %}" alt="Венера"></a></td>
  </tr>
  <tr>
    <td>Земля</td>
    <td>-</td>
    <td><a href="#"><img src="{% static 'django_app/img/solar_system/earth.jpg' %}" alt="Земля"></a></td>
  </tr>
  <tr>
    <td>Марс</td>
    <td>Древними астрономами</td>
    <td><a href="#"><img src="{% static 'django_app/img/solar_system/mars.jpg' %}" alt="Марс"></a></td>
  </tr>
  <tr>
    <td>Юпитер</td>
    <td>Галилео Галилеем в 1610 году</td>
    <td><a href="#"><img src="{% static 'django_app/img/solar_system/jupiter.jpg' %}" alt="Юпитер"></a></td>
  </tr>
  <tr>
    <td>Сатурн</td>
    <td>Древними астрономами</td>
    <td><a href="#"><img src="{% static 'django_app/img/solar_system/saturn.jpg' %}" alt="Сатурн"></a></td>
  </tr>
  <tr>
    <td>Уран</td>
    <td>Уильямом Гершелем в 1781 году</td>
    <td><a href="#"><img src="{% static 'django_app/img/solar_system/uranus.jpg' %}" alt="Уран"></a></td>
  </tr>
  <tr>
    <td>Нептун</td>
    <td>Иоганном Галле в 1846 году</td>
    <td><a href="#"><img src="{% static 'django_app/img/solar_system/neptune.jpg' %}" alt="Нептун"></a></td>
  </tr>
</table>
         </div><br>
    <div>
  <h2>Мелкие тела Солнечной системы</h2>
  <p>В Солнечной системе находится множество мелких тел, таких как астероиды и кометы. Астероиды - это небольшие каменные тела, которые вращаются вокруг Солнца в области между Марсом и Юпитером. Кометы - это тела, состоящие из пыли и льда, которые вращаются вокруг Солнца на очень больших расстояниях, за пределами орбиты Нептуна. Когда кометы приближаются к Солнцу, они начинают испаряться, образуя кому и хвост.</p>
      </div><br>
    <div>
        <h2>Ближайшие к Солнечной системе звезды</h2>
  <p>Солнечная система находится в галактике Млечный Путь, а ближайшая к ней звезда находится на расстоянии 4,2 световых года. Эта звезда называется Проксима Центавра и является красным карликом. Также относительно близки к Солнечной системе звезды Альфа Центавра и Барнардова звезда.</p>
    </div>
{% endblock %}